<div class="activity-bar">
    <button class="activity-item"  [class.active]="selectedSection === 'about'" (click)="selectSection('about')">
        👤
    </button>

    <button class="activity-item" [class.active]="selectedSection === 'projects'"  (click)="selectSection('projects')">
     📁
    </button>

    <button class="activity-item" [class.active]="selectedSection === 'skills'"  (click)="selectSection('skills')">
        🛠
    </button>

    <button class="activity-item" [class.active]="selectedSection === 'contact'"  (click)="selectSection('contact')">
        ✉
    </button>
</div>